.banner-container {
  background-image: url('../img/blue-logo.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
}

@media screen and (min-width: 720px) {
  .banner-container {
    background-size: contain;
  }
}