:root {
  --dark-blue: #3b5998;
  --light-blue: #8b9dc3;
  --light-grey: #dfe3ee;
}

.navbar {
  background-color: var(--dark-blue);
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-link {
  padding: 1rem;
  color: white;
}

.nav-link:hover {
  background-color: var(--light-blue);
  border-radius: 1rem;
  color: var(--dark-blue);
}

.active {
  color: var(--light-blue);
}

.logo {
  max-width: 2rem;
  max-height: 2rem;
  padding: 0 10px;
}