:root {
  --dark-blue: #3b5998;
  --light-blue: #8b9dc3;
  --light-grey: #dfe3ee;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: .5rem;
}

.nav-link {
  padding: .5rem;
  color: var(--dark-blue);
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--light-blue);
  border-radius: 1rem;
  color: white;
}

.active {
  color: var(--dark-blue);
}

.octopus-logo {
  width: 30px;
  height: 30px;
  fill: var(--dark-blue);
}
.octopus-logo:hover {
  fill: var(--light-blue);
}
